@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background-color: #F1F0EA;
    color: #2D232E;
}

body, button, input, select, textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

img {
    width: 8%;
}